/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */


/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

input {
    text-align: center;
} */

/*
html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

*/
/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */
/*.row {
  max-width: 1140px;
  margin: 0 auto; }

//section {
  padding: 80px 0; }

.box {
  padding: 1%; }
*/
/**************************************************/

#calculate-abv {
    height: 80vh;
}

.abv-calc h1 {
 text-align: center;   
}

.inputs {
    margin: 20vh 0;
}

.abv-calc input {
    display: block;
    text-align: left;
    width: 80%;
    margin: 5px auto;
    padding: 10px 5px;
}

.grav-result {
    text-align: center;
    font-size: 200%;
}

.abv-calc button {
   width: 40%;
    margin-left: 30%;
    margin-top: 20px;
    padding: 10px 5px;
}


/*******************************/
html {
    overflow-x: hidden;
}

#brewing-timer h1 {
    text-align: center;
}

#timer-stop {
    display: none;
}

.timer-start, .timer-stop {
    width: 20%;
    padding: 10px;
    display: block;
    margin-left: 40%; 
    margin-top: 10px;
    text-align: center;
}

.glyphicon.glyphicon-ok {
    font-size: 180%;
    position: relative;
    top: 7px;
    left: 5px;
    color: green;
    border: none;
    display: none;
}

#timer {
    margin-top: 10px;
    font-size: 200%;
    text-align: center;
    animation: blinker 6s linear infinite;
}

@keyframes blinker {  
  30% { opacity: 0; }
}

.timer-input {
    margin-top: 20px;
    position: relative;
}

.timer-input input {
    width: 50%;
    margin-left: 25%;
    display:inline-block;
    vertical-align: middle;
}

.hops-input-row label {
    vertical-align: middle;
    text-align: center;
    width: 100%
}

.hops-input-row {
    padding: 18px 0;;
}


.add-hop-btn {
    margin-top: 20px;
}

#addition3, #addition4, #addition5, #addition6, #addition7, #addition8, #addition9, #addition10 {
    display:none;
}




/********IBU CALC ************/

.grams, .aa, .mins-boil {
    max-width: 100%;
}

.header-row {
    padding: 10px 0;
    text-align: center;
}

.batch-row {
    padding-top: 20px;
}

.ibu-table {
 padding: 10px 0;
text-align: center;
}

.headings {
    margin-top: 30px;
}


.center {
    text-align: center;
}

.calculate-btn button {
    display: block;
    margin: 0 auto;
}

#hop2, #hop3, #hop4, #hop5, #hop6, #hop7, #hop8, #hop9, #hop10 {
    display: none;
}

.add-hop-btn button {
    display: inline-block;
    margin-right: 20px;
}

.add-hop-btn {
    margin-bottom: 20px;
    text-align: center;
}

.ibu-total {
    text-align: center;
}

#batch, #sg {
    margin-left: 10px;
}




@media(max-width:767px){
   .row.ibu-table {
    border: 6px solid;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
}
    #hop1 {
        border-color: blue;
        
    }
    
    #hop2 {
        border-color: deeppink;
    }
    
}

